# Created by venv; see https://docs.python.org/3/library/venv.html

.env*
.env
__pycache__/
.venv*

node_modules/

# secrets
google-cred.json
token.json
spotify-token.json

# extra repos
MagicMirror/
